<div id="mainIconsBox" class="row">

    <div class="col iconsCol">
    <app-single-icon></app-single-icon>
    <app-single-icon></app-single-icon>
    <app-single-icon></app-single-icon>
    </div>

    <div class="col iconsCol">
       <app-single-icon></app-single-icon>
       <app-single-icon></app-single-icon>
        <app-single-icon></app-single-icon>
    </div>

    <div class="col iconsCol">
            <app-single-icon></app-single-icon>
            <app-single-icon></app-single-icon>
             <app-single-icon></app-single-icon>
         </div>
         <div class="col iconsCol">
                <app-single-icon></app-single-icon>
                <app-single-icon></app-single-icon>
                 <app-single-icon></app-single-icon>
             </div>
             
             <div class="col iconsCol">
                    <app-single-icon></app-single-icon>
                    <app-single-icon></app-single-icon>
                     <app-single-icon></app-single-icon>
                 </div>
                 <div class="col iconsCol">
                        <app-single-icon></app-single-icon>
                        <app-single-icon></app-single-icon>
                         <app-single-icon></app-single-icon>
                     </div>
                     <div class="col iconsCol">
                            <app-single-icon></app-single-icon>
                            <app-single-icon></app-single-icon>
                             <app-single-icon></app-single-icon>
                         </div>
                     
</div>
