<div id="blocks" class="row">

<div class="col iconsCol">
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
    </div>
<div class="col iconsCol">
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
</div>

<div class="col iconsCol">
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
</div>

<div class="col iconsCol">
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
        <app-single-block></app-single-block>
</div>
</div>
